<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FRPJ.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FRPJ.My.MySettings.DB_FRPJConnectionString" connectionString="Data Source=ntbfl002;Initial Catalog=DB_FRPJ;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="FRPJ.My.MySettings.db_FRPJConnectionString1" connectionString="Data Source=sr80010000s001;Initial Catalog=db_FRPJ;Persist Security Info=True;User ID=frpj_user" providerName="System.Data.SqlClient" />
    <add name="FRPJ.My.MySettings.DB_FRPJConnectionStringDev" connectionString="Data Source=ITLNB036;Initial Catalog=DB_FRPJ;Persist Security Info=True;User ID=frpj_user" providerName="System.Data.SqlClient" />
    <add name="eDB_FRPJ" connectionString="metadata=res://*/FRPJ.csdl|res://*/FRPJ.ssdl|res://*/FRPJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itlnb023;initial catalog=DB_FRPJ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <FRPJ.My.MySettings>
      <setting name="Ambiente" serializeAs="String">
        <value />
      </setting>
      <setting name="VC90_Importar" serializeAs="String">
        <value />
      </setting>
      <setting name="Imp_Connect_Canc_OK" serializeAs="String">
        <value />
      </setting>
    </FRPJ.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>